﻿@{
    ViewData["Title"] = "Homepage";
}

<style>
    .card.m-3 {
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(170,45,114,0.5);*/
        background-color: #3A3240;
        color: #f2f2f2;
        width: 25rem;
    }

    .nowrap {
        white-space: nowrap;
    }
</style>


<header class="banner-color rounded py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">TraveLust</h1>
            <p class="lead fw-normal text-white-50 mb-0">- plan trips all around the world with your friends -</p>
        </div>
    </div>
</header>

<div class="d-flex align-content-center justify-content-center">
    <div class="d-flex align-content-center justify-content-start flex-wrap">
        @foreach (var post in ViewBag.Posts)
        {
            <div class="card m-3">

                <div class="card-body">

                    <img src="@post.Photo" class="card-img-top" alt="@post.Title" style="border-radius: 8px; width: 23rem; height: 20rem; ">

                    <div class="d-flex justify-content-around nowrap">
                        <h3 class="card-title p-2">@post.Title</h3>
                        <div class="card-text p-2 d-flex justify-content-start"><i class="bi bi-tag"></i> @post.Price €</div>
                    </div>

                    <h5 class="card-subtitle mb-2 text-muted">@post.City.CityName, @post.City.Country</h5>

                    <div class="card-text"><i class="bi bi-star-half"></i> @post.Rating/10</div>

                    <a href="/Posts/Show/@post.PostId" class="btn btn-outline-secondary">See post details</a>

                </div>

            </div>
        }
    </div>
</div>

<div class="text-center">Please log in to see more!</div>