@model TraveLust.Models.Review

<h2>Change @Model.ReviewId review</h2>
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Reviews", method: FormMethod.Post, routeValues: new { id = Model.ReviewId }))
{
    @Html.Label("Text", "Your review: ")
    <br />
    @Html.EditorFor(m => m.Text, new { htmlAttributes = new { @class = "form-control" }, value = Model.Text })
    <br />
    <br />
    @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Rating", "Your rating: ")
    <br />
    @Html.EditorFor(m => m.Rating, new { htmlAttributes = new { @class = "form-control" }, value = Model.Rating })
    <br />
    <br />
    @Html.ValidationMessageFor(m => m.Rating, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.HiddenFor(m => m.PostId, new{ value = Model.PostId})
    @Html.HiddenFor(m => m.Date, new{ value = DateTime.Now})

    <button class="btn btn-outline-secondary" type="submit">Done!</button>
}


@try
{
    @foreach (var err in ViewBag.Errors)
    {
        <div>
            @err
        </div>
    }

}
catch
{

}