@model TraveLust.Models.Post

<h2>New post!</h2>
</br>

@using (Html.BeginForm(actionName: "New", controllerName: "Posts", method: FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Title", "Sight to visit")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    <br />
    <br />
    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Description", "Short description")
    <br />
    @Html.TextArea("Description", null, new { @class = "summernote" })
    <br />
    <br />
    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("PostImage", "Photo")
    <br />
    @Html.TextBox("PostImage", null, new { type = "file", @class = "form-control" })
    <br />
    <br />
    //@Html.ValidationMessageFor(m => m.Photo, null, new { @class = "text-danger" })
    //<br />
    //<br />

    <label>Select city: </label>
    @Html.DropDownListFor(m => m.CityId, new SelectList(Model.AllCities, "Value", "Text"),
    "Select city", new { @class = "form-control" })
    <br />
    @Html.ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Price", "Price")
    <br />
    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type="numeric", min="1" })
    <br />
    <br />
    @Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-outline-secondary" type="submit">Post!</button>

}