@model TraveLust.Models.Post

@*Post details*@

@if (ViewBag.Message != null)
{
    <h2 class="alert-secondary p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h3 class="card-title p-2">@Model.Title</h3>
                <div class="card-text p-2"><i class="bi bi-tag"></i> @Model.Price €</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h5 class="card-subtitle mb-2 text-muted">@Model.City.CityName</h5>
            </div>
        </li>

        <li class="list-group-item">
            <div class="card-text"><i class="bi bi-star-half"></i> @Model.Rating/10</div>
        </li>

        <li class="list-group-item">
            <div class="card-text">@Html.Raw(Model.Description)</div>
        </li>

        <li class="list-group-item">
            <div class="d-flex flex-row align-content-center justify-content-start">

                <a class="btn btn-outline-secondary" href="/Posts/Edit/@Model.PostId"><i class="bi bi-pencil-square"></i>Edit post</a>

                <form method="post" action="/Posts/Delete/@Model.PostId">
                    <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-trash"></i>Delete post</button>
                </form>

                <a class="btn btn-outline-secondary" href="/Reviews/New/@Model.PostId"><i class="bi bi-vector-pen"></i> Leave your review</a>
            </div>
        </li>
    </ul>
</div>


@*Reviews*@
@foreach (var review in Model.Reviews)
{
    <div class="card text-center">
        <div class="card-header">User: @review.User.UserName</div>

        <div class="card-body">
            <h5><i class="bi bi-star-half"></i> @review.Rating/10</h5>
            <p class="card-text">@review.Text</p>
        </div>

        <div class="card-footer text-muted">
            <div class="d-flex d-flex justify-content-between align-items-center">


                @if (review.UserId == ViewBag.CurrentUserId || ViewBag.IsAdmin)
                {
                    <div>
                        <a class="btn btn-outline-secondary" href="/Reviews/Edit/@review.ReviewId"><i class="bi bi-pencil-square"></i>Edit</a>
                    </div>

                    <div>@review.Date</div>

                    <div>
                        <form method="post" action="/Reviews/Delete/@review.ReviewId">
                            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-trash"></i>Delete</button>
                        </form>
                    </div>
                }
                else
                {
                    <div>@review.Date</div>
                }

            </div>
        </div>
    </div>
}

@*If there are no reviews*@

@if (ViewBag.hasNoReviews)
{
    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
            This post has no reviews yet.
        </div>
        <div class="card-footer text-muted"></div>
    </div>
}