@model TraveLust.Models.City

<h2>Modificare "@Model.CityId. @Model.CityName"</h2>
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Cities", method: FormMethod.Post, routeValues: new { id = Model.CityId, enctype = "multipart/form-data" }))
{
	@Html.ValidationSummary(false, "", new { @class = "text-danger" })

	@Html.Label("CityName", "City name")
	<br />
	@Html.EditorFor(m=> m.CityName, new { htmlAttributes = new { @class = "form-control" }, value = Model.CityName })
<br />
<br />
	@Html.ValidationMessageFor(m => m.CityName, null, new { @class = "text-danger" })

	@Html.Label("Country", "Country")
	<br />
	@Html.EditorFor(m=> m.Country, new { htmlAttributes = new { @class = "form-control" }, value = Model.Country })
	<br />
	<br />
	@Html.ValidationMessageFor(m => m.Country, null, new { @class = "text-danger" })

	<button class="btn btn-outline-secondary" type="submit">Edit city!</button>


}

