@model TraveLust.Models.City
<h2>All the cities on TraveLust</h2>
<br />

@if(TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

@if(User.IsInRole("Admin"))
{
    // admin can see all cities, even if they are not approved
    @foreach (var city in ViewBag.Cities)
    {
       if(city.Approved == true)
       {
           <div class="card m-3" style="width: 25rem; background-color: white;">
                <div class="card-body">
                    <h6>@city.CityName</h6>
                    @*&emsp; leaves a 4 spacee gap*@
                    <p>&emsp; @city.Country</p>
                </div>

                <div class="card-footer">
                    <a class="btn btn-outline-secondary" href="/Cities/Edit/@city.CityId">Edit</a>

                    <form method="post" action="/Cities/Delete/@city.CityId">
                        <button class="btn btn-outline-secondary" type="submit">Delete</button>
                    </form>
                </div>
           </div>
        }
        else
        {
            <div class="card m-3" style="width: 25rem; background-color: white;">
                <div class="card-header">
                    <h4>Pending approval</h4>
                </div>
                <div class="card-body">
                    <h6>@city.CityName</h6>
                    @*&emsp; leaves a 4 spacee gap*@
                    <p>&emsp; @city.Country</p>
                </div>
                <div class="card-footer">
                    <form method="post" action="/Cities/Approve/@city.CityId">
                        <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-check2-square"></i></button>
                    </form>

                    <form method="post" action="/Cities/Delete/@city.CityId">
                        <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-x-square"></i></button>
                    </form>
                </div>
            </div>
        }



        <br />
        <br />
    }
}
else
{
    @foreach (var city in ViewBag.Cities)
    {
        if (city.Approved == true)
        {
            <div class="card m-3" style="width: 25rem; background-color: white;">
                <div class="card-body">
                    <h6>@city.CityName</h6>
                    @*&emsp; leaves a 4 spacee gap*@
                    <p>&emsp; @city.Country</p>
                </div>
            </div>
        }
    }
}

<hr />
<br />
@if(User.IsInRole("Admin") || User.IsInRole("Editor") || User.IsInRole("User"))
{
    <p>Can't find the city you are looking for?</p>
    <a class="btn btn-outline-secondary" href="/Cities/New">Add a new city!</a>
}
<br />